.clients__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 0;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: $descstop) {
      font-size: 36px;
    }
}

.clients__items {
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  margin-left: calc(-1 * $margin-li);
  margin-top: 0;
  margin-bottom: calc(-1 * $margin-li);
  @media screen and (min-width: $descstop) {
    margin-bottom: 0;
  }
}

.clients__item {
  margin-left: $margin-li;
  margin-bottom: $margin-li;
  @include flexCenter;

  flex-basis: calc(100% / 2 - $margin-li);

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - $margin-li);
  }

  @media screen and (min-width: $descstop) {
    flex-basis: calc(100% / 6 - $margin-li);
    margin-bottom: 0;
  }
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: fill, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 92px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;

  &:hover,
  &:focus {
    fill: #2196f3;
    border-color: #2196f3;
  }
}

.clients__icon {
  display: block;
}
