.header {
  display: flex;
  height: 79px;
  border-bottom: solid 1px $brand-color-border;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
      width: 100%;
    justify-content: space-between;
}

.nav-logo {
  color: $brand-color-black;
  font-size: 26px;
  font-weight: 700;
  font-family: $fontLogo;
  text-decoration: none;
  line-height: 1.1738;
  margin-right: 93px;
  letter-spacing: 0.02em;
}

.nav-logo:hover {
  color: $brand-color-black;
}

.nav-logo__text {
  color: $brand-color-blue;
}

.site-nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  height: 100%;
  color: $brand-color;
  font-weight: 500;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: flex;

  &:hover,
  &:focus {
    color: $brand-color-blue;
    fill: $brand-color-blue;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $descstop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-nav__link--active {
  position: relative;
  color: $brand-color-blue;

  &::after {
    background-color: $brand-color-blue;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    content: "";
    margin: auto;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}

.contacts {
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;

    @media screen and (min-width: $mobile) {
        display: none;
      }
    
      @media screen and (min-width: $tablet) {
        display: flex;
      }
    
      @media screen and (min-width: $descstop) {
        display: flex;
        flex-wrap: wrap;
      }
}

.contacts__link {
  color: $brand-color-link;
  fill: $brand-color-link;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.172;
  font-weight: 500;
  letter-spacing: 0.02em;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $brand-color-blue;
    fill: $brand-color-blue;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
}


.mobile-nav__items {
  top: 0;
  width: 100%;
  background-color: $brand-color-white;
  z-index: 1;
  height: 100vh;
  list-style: none;
  padding: 48px 40px;
  }

.mobile-nav__link {
text-decoration: none;
font-size: 40px;
line-height: 1.15em;
letter-spacing: 0.03em;
font-weight: 500;
color: $brand-color;

}

.mobile-nav__item {
margin-bottom: 32px;
}



.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

      @media screen and (mix-width: $mobile) {
          display: flex;
        }
      
        @media screen and (min-width: $tablet) {
          display: none;
        }
      
        @media screen and (min-width: $descstop) {
          display: none;
        }
}

.mobile-nav .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-nav.is-open {
  transform: translateX(0);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $brand-color-white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}