.social-list {
    list-style: none;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    padding: 0;
}

.social-link {
    fill: #afb1b8;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include flexCenter;
}

.social-item {
    margin-right: 10px;
}

.social-item .last {
    margin-right: 0;
}

.social-link:hover,
.social-link:focus {
    fill: $brand-color-white;
    background-color: $brand-color-blue;
}