.subscribe {
    color: $brand-color-white;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    line-height: 1.17em;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.subscribe__title {
    margin: 12px 0 20px 0;
}

.subcribe__field {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin: 0 12px 0 0;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: $brand-color-white;

    &:focus,
    &:hover {
        border-color: $brand-color-blue;
        color: $brand-color-white;
    }
}

.subscribe__button {
    background-color: $brand-color-blue;
    color: $brand-color-white;
    padding: 10px 62px 10px 29px;
    font-weight: 700;
    line-height: 1.875;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    position: relative;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    letter-spacing: 0.03em;
    border-radius: 4px;
    cursor: pointer;
    border: 0;

    &:focus,
    &:hover {
        background-color: #188ce8;
    }
}

.subscribe__icon {
    top: 13px;
    right: 28px;
    position: absolute;
    fill: $brand-color-white;
}