    %section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    %section-mob {
    padding-top: 60px;
    padding-bottom: 60px;
    }

    %img {
        display: block;
        max-width: 100%;
    }